# .system.env
EULA=
TZ=

MEMORY=
INIT_MEMORY=
MAX_MEMORY=

UID=
GID=

RCON_PASSWORD_FILE=
ENABLE_RCON=

USE_AIKAR_FLAGS=

# .mc.env
DIFFICULTY=
HARDCORE=
MODE=
ENABLE_WHITELIST=
WHITELIST=

TYPE=
VERSION=
FABRIC_LAUNCHER_VERSION=
FABRIC_LOADER_VERSION=
MODRINTH_DOWNLOAD_DEPENDENCIES=

MODRINTH_PROJECTS=

ENABLE_AUTOPAUSE=
AUTOPAUSE_TIMEOUT_EST=
AUTOPAUSE_TIMEOUT_INIT=
AUTOPAUSE_TIMEOUT_KN=
MAX_TICK_TIME=
AUTOPAUSE_KNOCK_INTERFACE=

ICON=
MOTD=
PLAYER_IDLE_TIMEOUT=
VIEW_DISTANCE=
SIMULATION_DISTANCE=
ONLINE_MODE=
MAX_PLAYERS=

# .playit.env
SECRET_KEY=
