# .system.env
EULA=
TZ=

MEMORY=
INIT_MEMORY=
MAX_MEMORY=

RCON_PASSWORD_FILE=
ENABLE_RCON=

USE_AIKAR_FLAGS=

# .mc.env
DIFFICULTY=
HARDCORE=
MODE=
ENABLE_WHITELIST=
WHITELIST=

TYPE=
VERSION=
FABRIC_LAUNCHER_VERSION=
FABRIC_LOADER_VERSION=
MODRINTH_DOWNLOAD_DEPENDENCIES=

MODRINTH_PROJECTS=

ENABLE_AUTOPAUSE=
AUTOPAUSE_TIMEOUT_EST=
AUTOPAUSE_TIMEOUT_INIT=
AUTOPAUSE_TIMEOUT_KN=

# .playit.env
SECRET_KEY=
