.env*
!.env.example

.playit.env
.mc.env
.system.env

/data
rcon_password.txt

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix