.env*
!.env.example

.playit.env
.mc.env
.system.env
rcon_password.txt

/minecraft-stack/data/*
!/minecraft-stack/data/.gitkeep
/minecraft-stack/playit_data/*
!/minecraft-stack/playit_data/.gitkeep

/monitor-stack/grafana/data/*
!/monitor-stack/grafana/data/.gitkeep

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix